@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #4D4F62;
}

body {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 200;
  line-height: 54px;
  letter-spacing: 0.25px;
  margin: 80px 0 1px 0;
}

h2 {
  font-size: 36px;
  font-weight: 600; 
  line-height: 54px;
  letter-spacing: 0.25px;
  margin: 0px 0 16px 0;
}

span {
  font-size: 15px;
  width: 540px;
  text-align: center;
}

.card {
  width: 286px;
  height: 186px;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  padding: 32px;
}

.cards-info {
  display: flex;
  align-items: center;
  grid-gap: 30px;
  margin: 0 auto 20px auto;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.content {
  font-size: 13px;
  margin-bottom: 40px;
}

.icon {
  height: 64px;
  width: 64px;
  display: flex;
  margin: auto;
}